<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google font setting-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--Bootstrap-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--Style CSS-->
    <link href="~/css/Login&Register.css" rel="stylesheet">
</head>
<body>
    <main>
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
