@page
@model ConfirmEmailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Confirm email";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<!-- Footer -->
<div class="footer">
    <p><a href="/Identity/Account/Login">Go to Login</a></p>
</div>


