@page
@model ExternalLoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Account";
}

<div class="login-container">
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <!-- Email -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" id="floatingInput" autocomplete="username" aria-required="true" placeholder="Email" />
            <label asp-for="Input.Email" class="form-label">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!-- Username -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Username" class="form-control" id="username" placeholder="Username" />
            <label asp-for="Input.Username" class="form-label">Username</label>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-info">GET STARTED</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="footer">
    <p>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a></p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
