@page
@model ForgotPasswordModel
@{
    Layout = "_ValidationScriptsPartial";
    ViewData["Title"] = "Forgot your password?";
}
<h2>Enter your email.</h2>
<div class="login-container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
            <label asp-for="Input.Email" class="form-label">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-info">Reset Password</button>
        </div>
    </form>
</div>



