@page
@model ResetPasswordConfirmationModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset password confirmation";
}

    <div class="footer">
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
